<!DOCTYPE html>
<html>
  <head>
    <title>JQueryApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="container">
  <div id="theTarget">
    <div class="img1"></div>
    <div class="img2"></div>
    <div class="img3"></div>
    <div class="img4"></div>
    <div class="img5"></div>
  </div>
</div>
    <%= yield %>
  </body>
</html>
